@model IEnumerable<GenericRepositoryWithCatching.Models.Blog>

@{
    ViewBag.Title = "Index";
}
<div class="jumbotron">
<h2>Generic Repository With Memory Caching - @ViewBag.Title</h2><h4>By Carmel</h4>
</div>
<div class="jumbotron">
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatePosted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MainPicture)
        </th>
        <th>
            Author Name 
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @String.Format("{0:yyyy-MM-dd}",  item.DatePosted) 
        </td>
        <td>
            <img src="/Content/Images/@Html.DisplayFor(modelItem => item.MainPicture)" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Blogger.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BlogID }) 
            @Html.ActionLink("Details", "Details", new { id=item.BlogID })  
            @Html.ActionLink("Delete", "Delete", new { id=item.BlogID })
        </td>
    </tr>
}

</table>
</div>
